.project {
	background-color: #FEF9EA;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	margin: 20px auto 80px auto;
	width: 180px;
	height: 75px;
	text-align: center;
}

@media only screen and (max-width: 676px) {
  [class*="project"] {
  	width: 80%;
  	margin: 20px 10px;
  }
}

