.avatar {
	width: 120px;
	height: 120px;
	border-radius: 40%;
	margin: 30px 20px;
	text-align: left;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

img:hover {
	transform: scale(1.01);
	box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}


@media only screen and (max-width: 676px) {
  [class*="avatar"] {
  	display: flex;
  	margin: 30px auto;
  }
}
