.signature {
	background-color: #eed974;
	color: #1b1d1c;
/*	font-family: 'Calligraffitti', cursive;
*/	font-family: 'Lato', sans-serif;
	letter-spacing: 5px;
	padding: 10px 0px;
	text-align: center;
}

.signatureText {
	margin: 0;
	padding: 0;
	font-size: 64px;
}

@media only screen and (max-width: 676px) {
  [class*="signature"] {
  	padding: 5px 0px;
  }
}
