.navbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
  background-color: #eed974;
  list-style-type: none;
}

.language {
  margin: 25px 20px; 
  display: flex;
}

.flag {
  width: 20px;
  height: 20px;
  margin: 14px 5px;
}

li {
  float: right;
  margin: 25px 5px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li.language:hover {
  cursor: pointer;
  background-color: #d8c568;
}

i {
  padding: 0;
}

li a:hover {
  background-color: #d8c568;
}

a:hover {
  cursor: pointer;
}

@media only screen and (max-width: 676px) {
  [class*="navbar"] {
    width: 100%;
    display: flex;
    margin: 0 auto;
  }
  [class*="language"] {
    margin: 10px 12% 10px 10%;
    padding: 14px 0px;
  }
  [type*="li"] {
    margin: 10px 0px;
    padding: 14px 0px;
  }
}
