.navbar {
	margin: 0;
	padding: 0;
	overflow: hidden;
  background-color: #eed974;
  list-style-type: none;
}

li {
  float: right;
  margin: 25px 5px;
}

li a {
  display: block;
  color: black;
  text-align: center;
  padding: 14px 16px;
  text-decoration: none;
}

li a:hover {
  background-color: #d8c568;
}

.language {
  margin: 25px 20px;
}

@media only screen and (max-width: 676px) {
  [class*="navbar"] {
    width: 100%;
  }
  [class*="language"] {
    margin: 10px 5px;
    padding: 14px 0px;
  }
  [type*="li"] {
    margin: 10px auto;
    padding: 14px 0px;
  }
}
