.skill {
	width: 100px;
	height: 100px;
	border-radius: 100px;
	margin: 10px auto;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	cursor: pointer;
}

.heading {
	margin: 15px 0px;
	font-family: Montserrat;
	font-weight: 400;
	margin: 10px auto;
	text-align: center;
}


.text {
	color: black;
	margin: 0px auto;
	text-align: center;
	opacity: 0;
	font-size: 0.6rem;
	padding: 2px 10px;
}

.gears {
	font-size: 2rem;
	opacity: 0.9;
	text-align: center;
	display: block;
	line-height: 3;
}

.gears:focus {
	outline: none;
}

.skill:hover > .gears {
	-webkit-animation: moveLineUp 150ms forwards; 
	   -moz-animation: moveLineUp 150ms forwards; 
	    -ms-animation: moveLineUp 150ms forwards; 
	     -o-animation: moveLineUp 150ms forwards; 
			animation: moveLineUp 150ms forwards;
			transition-timing-function: ease-in-out;
			font-size: 1.8rem;
}

.skill:hover > .text {
	/* visibility: visible; */
	-webkit-animation: fadein 300ms forwards; 
	-moz-animation: fadein 300ms forwards; 
	 -ms-animation: fadein 300ms forwards; 
	  -o-animation: fadein 300ms forwards; 
		 animation: fadein 300ms forwards;
		 transition-timing-function: ease-in-out;
}


@keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-moz-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-webkit-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-ms-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

@-o-keyframes fadein {
    from { opacity: 0; }
    to   { opacity: 1; }
}

/* moveLineUp */

@keyframes moveLineUp {
    from { line-height: 3; }
    to   { line-height: 2; }
}

@-moz-keyframes moveLineUp {
    from { line-height: 3; }
    to   { line-height: 2; }
}

@-webkit-keyframes moveLineUp {
    from { line-height: 3; }
    to   { line-height: 2; }
}

@-ms-keyframes moveLineUp {
    from { line-height: 3; }
    to   { line-height: 2; }
}

@-o-keyframes moveLineUp {
    from { line-height: 3; }
    to   { line-height: 2; }
}

