.qas {
	display: flex;
	justify-content: space-between;
	flex-direction: row;
	padding: 0px 160px;
}

@media only screen and (max-width: 676px) {
  [class*="qas"] {
  	display: grid;
  	margin: 0 auto;
  	justify-content: unset;
  	padding: 0px;
  }
}

