.profile {
	display: flex;
	flex-wrap: wrap;
	background-color: #FEF9EA;
	max-width: 40%;
	margin: 100px auto;
	color: #1b1d1c;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.15);
	text-align: justify;
}

.firstRow {
	display: flex;
}

.secondRow {
	display: block;
	margin: 0px 20px 20px 35px;
	font-size: 1.1rem;
}

.paragraph {
	margin: 33px 20px 10px 10px;
	text-align: justify;
}

.list {
	display: grid;
}

.list li {
	margin: 2px 10px;
}

@media only screen and (max-width: 676px) {
  [class*="profile"] {
  	display: block;
  	max-width: 80%;
  	padding: 5px 10px;
  	margin: 20px auto;
  }
  [class*="firstRow"] {
  	flex-direction: column;
  }  
  [class*="secondRow"] {
  	margin: 0px 0px 20px 0px;
  }
}
