.contact {
	display: grid;
	margin: 30px auto 10px auto;
	color: #1b1d1c;
	text-align: justify;
}

.email {
	width: 20%;
	height: 60px;
	display: block;
	margin: 0 auto;
	background-color: #FFD17C;
	color: #1b1d1c;
	font-size: 1.3rem;
	box-shadow: 0 1px 5px rgba(0, 0, 0, 0.2);
}

.email:hover {
	transform: scale(1.01);
	box-shadow: 0 2px 5.5px rgba(0, 0, 0, 0.3);
	cursor: pointer;
}

.buttonIcon {
	padding: 0px 15px 0px 0px;
}

@media only screen and (max-width: 768px) {
  [class*="contact"] {
	 	margin: 10px auto;
	 	padding: 0px 10px;
	 	display: grid;
  }
  [class*="paragraph"] {
	 	margin: 0px;
  }
  [class*="email"] {
  	margin: 0 auto;
  	width: 45%;
  	height: 60px;
  }
}

